// Setting Defaults 
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-family:'Kumbh sans', sans-serif;
}
// Background Gradiant
$Soft_violet:hsl(273, 75%, 66%);
$Soft_blue: hsl(240, 73%, 65%);


// Text Colors 
$Very_dark_grayish_blue: hsl(237, 12%, 33%);
$Dark_grayish_blue: hsl(240, 6%, 50%);

// Dividers
$Light_grayish_blue: hsl(240, 5%, 91%);

// Importing Fonts 
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// JS Utilities
body{
    background: linear-gradient($Soft_violet , $Soft_blue);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding-top: 250px;
    padding-bottom:20px;
    .logo_block{
        display:none;
    }
}
#container{
    z-index:0;
    display: grid;
    grid-template-columns: 1fr;
    background-color:#fff;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position:top;
    color:$Very_dark_grayish_blue;
    max-width: 80%;
    max-height:500px;
    border-radius: 25px;
    padding: 20px 20px ;
    margin: 0 auto 0 auto;
    .top_logo{
        z-index: 1;
        position: relative;
        top:-530px;
        left:-6%;
    }
    .rightcontent{
        position: relative;
        h2{ 
            text-align:center;
            padding-top: 130px;
            padding-bottom: 25px;
            font-size: 36px;
        }
        // .top_logo{
        //     z-index: 1;
        //     position: absolute;
        //     top : -130px;
        //     right: 10px;
        // }
    }.qa_block{
        z-index: 0;
        position: relative;
        left:20px;
        
        // cursor: pointer;
        .question{
            display:grid;
            grid-template-columns: 1fr 0.2fr;
            grid-template-areas:
                "q1 da"
                "a1 a1"
                "a1 a1"
                "hrl hrl"
            ;
            // cursor: pointer;
            .question_1{
                grid-area:q1;
                padding-bottom:5px;
                font-weight: normal;
                display:inline;
                line-height: 3rem;
                hr{
                    grid-area:hr1;
                    max-width: 100%;
                }
                cursor: pointer;
                &.question_1:hover{
                    font-weight: 700;
                }
            }
            .arrow{
                margin-top:18px;
                grid-area:da;
                display: inline;
                transform:none;
            }
            .arrow.arrowUp{
                transform:rotate(180deg);
            }
            .question_bold{
                font-weight: 700;
            }
           
            .answer{
                max-width: 90%;
                grid-area:a1;
                color:$Dark_grayish_blue;
                // padding-top: 5px;
                padding-bottom: 10px; 
                display:none;
                line-height: 1.25rem; 
                // &.answer_show{
                //     display:block;
                // }  
            }
            .answer_show{
                display:block;
            }   
        }
        .question.open{
            .answer{
                display:block;
            }
            .arrow{
                transform:rotate(180deg);
            }
            .question_1{
                font-weight:700;
            }

            
        }
        .question_1.boldf{
            font-weight:700;
        }
    }
}




@media(min-width: 500px){
    
   
    
}
